.calcard-footer {
  background: $color-primary;
  padding: 1.5rem 0;

  &__info {
    margin: 0;
    text-align: center;
    color: $color-secondary;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
