/// Font stack padrão da aplicação.
/// @type List
$font-stack: ('Roboto', sans-serif) !default;

/// Path das fontes da aplicação.
/// @type String
$assets-path: '../../assets/fonts/' !default;

/// Cor branca padrão.
/// @type Color
$color-white: #fff !default;

/// Cor preta padrão.
/// @type Color
$color-black: #000 !default;

/// Cor primária.
/// @type Color
$color-primary: #000 !default;

/// Cor secundária.
/// @type Color
$color-secondary: #bfbfbf !default;

/// Cor danger.
/// @type Color
$color-danger: #dc3545 !default;

/// Radio button size.
/// @type Length
$radio-size: 1.5rem;
