@font-face {
  @include font-import('Roboto', 700, normal, roboto-bold-normal);
}

@font-face {
  @include font-import('Roboto', 400, normal, roboto-regular-normal);
}

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;
}

p {
  font-size: 1rem;
}
